[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Ll]og/
[Ll]ogs/
artifacts/
publish/
*.publish.xml

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
.nuget/


.idea/
*.sln.iml
*.DotSettings.user

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info
coverage/
coveragereport/
.dotCover/
*.dotCover

.env
.env.*
!.env.example
appsettings.*.local.json
*.pfx
*.p12
secrets.json

*.db
*.db-shm
*.db-wal
*.sqlite
*.mdf
*.ldf

# ---------- Docker ----------
docker-compose.override.yml


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


*.log
*.tmp
*.bak
*.swp
*~